$button-color: rgba(4, 5, 87, 0.575);

main {
  background-color: white;
  box-shadow: 1px 1px 3px #666;
  border: 5px solid lighten($button-color, 40%);
  font-weight: 700;
  margin: 2em auto;
  padding: 1em;
  width: 600px;
}

.color-swatch {
  width: 400px;
  height: 400px;
  margin: auto;
}

.color-inputs,
.color-sliders {
  display: flex;
  margin: 1em 0;
}

.color-input,
.color-slider {
  width: 100%;
  padding: 1em;
  label {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
  }
  input {
    width: 100%;
    display: block;
    margin: 0em;
  }
}
